name: Go Coverage

on: [push, pull_request]

jobs:
  coverage:
    name: Generate Test Coverage Badge
    runs-on: ubuntu-latest

    steps:
    - name: Set up Go
      uses: actions/setup-go@v2
      with:
        go-version: '^1.18' # Specify the Go version

    - name: Check out code
      uses: actions/checkout@v2

    - name: Run Test Coverage
      run: go test -coverprofile=coverage.out ./...

    - name: Generate Coverage Report
      uses: romeovs/go-coverage-report@master
      with:
        path: coverage.out
        badge: true

    - name: Update Coverage Badge
      run: |
        git config --global user.name "Daniel 'ShellFu' Kendrick"
        git config --global user.email '3248200+shellfu@users.noreply.github.com'
        git add .
        git commit -m "Update coverage badge"
        git push

